.navbar {
    background-color: #1C2B35;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    margin-left: 60px;
}

.navbar ul {
    display: flex;
    margin-right: 60px;
    gap: 20px;

}

.navbar ul a {
    text-decoration: none;
    color: #ffffff;
}

.navbar ul a:hover {
    color: green;
    transition: .5s;
}